<!DOCTYPE html>
<html>
<head>
  <title>MakersBnB</title>

  <style>
  .content {
    max-width: 500px;
    margin: auto;
    font-family: arial;
  }

  table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    width:25%;
  }

  th, td {
    padding: 20px;
}
</style>
</head>
<body>
  <div class="content">
  <h2><%= @property.title %></h2>
  <p><%= @property.description %></p>
  <p>£<%= @property.price %> per night</p>
  <img style="width:430px;height:300px;" src=<%= @property.photo_url %>>
  <br>
  <br>
  <table>
    <tr>
      <th>Guests</th>
      <th>Bedrooms</th>
      <th>Beds</th>
      <th>Bathrooms</th>
    </tr>
    <tr>
      <td><%= @property.guests%></td>
      <td><%= @property.bedrooms%></td>
      <td><%= @property.beds%></td>
      <td><%= @property.bathrooms%></td>
    </tr>
  </table>
  <h2><%= @property.available_from %> - <%= @property.available_to %></h2>
  <br>
  <br>
  <p>If you have any questions, please contact:
  <br>
  <br>
  <%= @user.first_name %>
  <br>
  <%= @user.phone_number %>
  </p>
  <%= flash[:booking_unavailable] %>
  <br>
  <form action="/booking/request" method="post">
    <input type="hidden" value="<%= @property.id %>" name="id" >
    <label for="date_requested">Request Boooking for: </label>
    <input type="date" name="date_requested">
    <input type="submit" value="Submit Booking Request">
  </form>
  <br>
  <form action="/">
    <input type="submit" value="Back to List">
  </form>
  </div>
</body>
</html>
