<!DOCTYPE html>
<html>
<head>
	<title>MakersBnB</title>
</head>
<body>
<h1>Makers BNB</h1>
<a href="/user/new">Login / Sign up</a>
<hr>
<form action="/dates" method="post">
<label for="start">Check-in Date:</label>
<input type="date" id="check_in" name="trip-start"
       value="2018-12-05"
</input>
<br>
<br>
<label for="end">Check-out Date:</label>
<input type="date" id="check_out" name="trip-end"
       value="2018-12-05"
</input>
<br>
<br>
  <input type="submit" name="check-availability" value="Check Availabilty">
</form>
<br>
<% if @properties != nil %>
<% @properties.each do |property| %>
  <hr>
    	<h4><%= property.title %></h4>
      <p><%= property.description %></p>
    	<form action="/property/<%= property.id %>" method="get">
      	<input type="submit" name="view-property-<%=property.id%>" value="View Property">
    	</form>
  	<% end %>
  <% else %>
  	<%= flash[:no_property_message] %>
  <% end %>
</body>
</html>
