<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Profile</h1>
	<h2><%= @user.first_name %> <%= @user.last_name %></h2>

	<h3>Account Details</h3>
	<p>
		username: <%= @user.username %>
		<br>
		email: <%= @user.email %>
		<br>
		phonenumber: <%= @user.phone_number %>
	</p>
<br>
<h2>Your Bookings</h2>
<% if @bookings != nil %>
	<% @bookings.each do |booking| %>
		<hr>
		<%= booking.title %><br>
		Date requested: <%= booking.start_date %><br>
		Status: <%= booking.status.capitalize %>
		<br>
	<% end %>
<% else %>
	<p>You don't have any bookings, why not <a href="/">search through the property listings</a>?</p>
<% end %>

<br>
<h2>Properties Listed</h2>
<% if @properties != nil %>
<% else %>
	<p>You don't have any properties listed. <a href="/property/new">Add a new property here</a></p>
<% end %>
<hr>

</body>
</html>
