<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Profile</h1>
	<h2><%= @user.first_name %> <%= @user.last_name %></h2>

	<h3>Account Details</h3>
	<p>
		username: <%= @user.username %>
		<br>
		email: <%= @user.email %>
		<br>
		phonenumber: <%= @user.phone_number %>
	</p>
<br>
<hr>
<h3>Properties Listed</h3>
<!-- **ADD MESSAGE "You don't have any properties listed", if the user has no properties -->
<a href="/property/new">Add a new property</a>

<h3>Requests for your Properties</h3>
<% @bookings_for_approval.each do |approval| %>
<%= approval %>

<% end %>
</body>
</html>
