<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Profile</h1>
	<h2><%= @user.first_name %> <%= @user.last_name %></h2>

	<h3>Account Details</h3>
	<p>
		username: <%= @user.username %>
		<br>
		email: <%= @user.email %>
		<br>
		phonenumber: <%= @user.phone_number %>
	</p>
<br>
<hr>
<h3>Properties Listed</h3>
<!-- **ADD MESSAGE "You don't have any properties listed", if the user has no properties -->
<a href="/property/new">Add a new property</a>

<h2>Requests for your Properties</h2>
<% if @bookings_for_approval != nil %>
<% @bookings_for_approval.each do |approval| %>
<hr>
<h4><%= approval.title %></h4>
Date requested: <%= approval.start_date %><br>
Booking status: <%= approval.status.capitalize %><br>
	<% if approval.status == "requested" %>
		<form action="/booking/update" method="post">
			<input type="hidden" value="<%=approval.id%>" name="id">
			<input type="submit" value="Approve" name="host_response">
			<input type="submit" value="Reject" name="host_response">
		</form>
	<% end %>
<% end %>
<% else %>
    <p>You don't have any bookings requests to approve. Check back later.</p>
<% end %>
</body>
</html>
