<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Profile</h1>
	<h2><%= @user.first_name %> <%= @user.last_name %></h2>

	<h3>Account Details</h3>
	<p>
		username: <%= @user.username %>
		<br>
		email: <%= @user.email %>
		<br>
		phonenumber: <%= @user.phone_number %>
	</p>
</body>
</html>